.page-front-page{
    .hero{
        h1{
            font-size:rem(20px);
            line-height:rem(24px);
            @include mq($tablet-breakpoint) {
                font-size:rem(30px);
                line-height:rem(37px);
            }
            @include mq($mobile-breakpoint) {
                font-size:rem(40px);
                line-height:rem(48px);
            }
        }
        h2{
            font-size:rem(32px);
            line-height:rem(40px);
            @include mq($mobile-breakpoint) {
                font-size:rem(60px);
                line-height: rem(70px);
            }
            @include mq($tablet-breakpoint) {
                font-size:rem(75px);
                line-height: rem(90px);
            }
        }
    }
}